.coin-box {
  background-color: #242424;
  color: white;
  border: 1px solid #222;
  border-radius: 16px;
  padding: 0.3rem 0.2rem 0.3rem 0.3rem;
  transition: all 0.3s ease;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
  width: 100%;
  max-width: 300px;
  height: 190px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.coin-box-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.coin-box .flex.items-start.justify-between {
  align-items: flex-start;
}

.coin-box button.absolute {
  top: 0.3rem;
  right: 0.3rem;
}

.coin-name {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.2rem;
  margin-bottom: 0.1rem;
}

.coin-box .text-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}

.coin-box .text-base {
  font-size: 1rem;
  font-weight: 600;
}

.coin-box .flex.items-center.text-green-400,
.coin-box .flex.items-center.text-red-400 {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.coin-box .grid.grid-cols-2 {
  margin-top: 0.4rem;
}

.coin-box:hover {
  background-color: #DFFF67;
  color: #000000;
  border: 1px solid black;
  box-shadow: none;
}

.coin-box:hover .text-green-400 {
  color: #22c55e;
}
.coin-box:hover .text-red-400 {
  color: #ef4444;
}
.coin-box:hover .text-gray-400 {
  color: #9ca3af;
}
.coin-box:hover .text-white {
  color: #000000;
}
