.voting-wrapper {
  max-width: 100%;
  overflow-x: hidden; /* 횡스크롤 제거 */
  padding: 0 1rem;
  scrollbar-width: none; /* Firefox */
  
}

.voting-scroll-hide::-webkit-scrollbar {
  display: none;
}

.voting-scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.voting-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.voting-card {
  background-color: #242424;
  color: #ffffff;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
  min-height: 72px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.voting-card:hover {
  background-color: #DFFF67;
  color: #000;
}

.voting-card:hover .vote-button {
  opacity: 1;
  visibility: visible;
}

.voting-rank {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  color: white;
  font-weight: bold;
  border-radius: 9999px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  margin-right: 0.75rem;
}

.voting-coin-logo {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 9999px;
  margin-right: 0.75rem;
}

.voting-name {
  font-weight: 600;
  font-size: 0.95rem;
  color: inherit;
}

.voting-symbol {
  font-size: 0.75rem;
  color: #aaa;
}

.vote-stat-label {
  font-size: 0.75rem;
  color: #aaa;
}

.vote-stat-value {
  font-weight: 500;
  color: inherit;
}

/* 카드 내용 좌측 정렬 */
.vote-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.75rem;
}

.vote-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 숨겨진 버튼 */
.vote-button {
  background-color: #000000;
  color: #fff;
  padding: 0.4rem 1rem;
  font-weight: 600;
  border-radius: 8px;
  font-size: 0.875rem;
  transition: all 0.2s ease;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}

.voting-card:hover .vote-button {
  background-color: #000000;
  color: #fff;
}

/* 외곽 컨테이너 안에서 리스트 안넘치게 */
.voting-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
  margin: 0 auto;
}

.vote-button {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: #C7EB3E;
  color: black;
  font-weight: bold;
  transition: transform 0.1s ease-in-out;
}

.vote-button:active {
  transform: scale(0.95);
}

.voting-rank.rank-default {
  background-color: rgb(0, 0, 0);
  color: black;
}